#logo{
	background: red;
}
.square{
	height: 100px;
	width: 100px;
}
.portrait{
	width: 450px;
	height: 600px;
}
#header {
	background-color: white;
	height: 60px;
}
#header li{
	display: inline;
	float: right;
	list-style: none;
}
#header li a {
	color: black;
}
#header ul{
	margin-top: 30px;
}
#s1body{
	height: 400px;
	background-size: cover;                      /* <------ */
    background-repeat:  no-repeat;
    background-position: center;
    color: white;

}
.content{
	position: absolute;
	text-align: center;
	margin-top: 100px;
	margin-left: 35%;
}
.button{
	border: 1px solid white;
	color: white;
	width: 100px;
	height: 60px;
	background-color: transparent;
}
hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 2px solid #fb0f51;
    width: 100px;
}
#section2{
	margin-top: 30px;
}
#skill{
	margin-top: 20px;
	margin-bottom: 20px;
}
#skill img{
	margin-top: 20px;
	width: 70px;
	height: 40px;
}
#skill p{
	margin-left: 60px;
}
#skill h1{
	font-weight: bolder;
}
.folio{
	width: 300px;
	height: 330px;
	padding: 0 !important;
   	margin: 0 !important;
}
#section4{
	margin-top: 50px;
	margin-bottom: 50px;
	align-items: center;
}
#user{
	margin-top: 40px;
}
#user p{
	margin-left: 83px;	
	margin-top: -20px;
}
#user img{
	margin-top: 20px;
}
.clear{
	margin-top: 50px;
}
.sign{
	height: 100px;
	width: 150px;
}
.cv{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #164E71;
	color: white;
	width: 150px;
	height: 50px;
}

#myskills{
	margin-top: 100px;
	margin-bottom: 100px;
	height: 600px;
	background-size: cover;                      /* <------ */
    background-repeat:  no-repeat;
    background-position: center;
    color: white;
}
#myskills .content{
	margin-left: 0;
	margin-top: 200px;
}
